.faculty-save-btn {
  text-align: right;
}
.faculty-edit-btn {
  display: flex;
  justify-content: end !important;
}
.faculty-edit-button {
  min-height: auto !important;
  padding-top: 10px;
}
.faculty-add-div {
  width: 100%;
}
.faculty-add-row {
  display: flex;
  justify-content: space-around;
}
.custom-delete-btn {
  display: flex;
  margin-top: 12px !important;
  align-items: center;
}
.btnMargin { 
  padding-right: 10px;
}
.cancel-btn {
  background-color: gray;
  color: white;
}
.cancel-btn:hover {
  opacity: 0.7;
}
.btn-save-cancel {
  display: flex;
  justify-content: end;
  width: 100%;
}

.save-btn {
  margin-right: 15px;
}