.subjectCard{
    cursor: pointer;
    .MuiPaper-rounded{
        padding: 10px !important;
        height: auto !important;
    }
}
.container-card{
    .MuiPaper-rounded{
        border-radius: 9px !important;
        height: 100%;
    }
}