.formCaseWrap{
    p{
        color:#000
    }
}
.point-scale{
    .neitherAgreeDisagree{
        width: 200px;
    }
    .disagree{
        position: relative;
        left: 85px;
    }
    .strongDisagree{
        position: relative;
        left: 85px;
    }
}