.achivements-tab {
  .date-picker,
  .text-box,
  .select-box {
    input {
      background-color: #fff;
    }
    div {
      width: 100%;
    }
  }
}

.display-Block-class {
  display: block !important;
}
