.table_header div div div table thead {
  background-color: #f1f5fa !important;
}
.table {
  width: 100% !important;
  display: contents !important;
  flex-wrap: wrap !important;
  box-sizing: border-box !important;
}

.table_main {
  margin-top: 0px !important;
}

.haeder_title_text div div div table thead tr th {
  font-family: 'Work Sans', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* or 22px */
  text-transform: capitalize !important;

  /* text-align: left; */

  color: #092682;
}

.table_data_text div div div table tbody tr td span span {
  font-family: 'Work Sans', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 20px; */

  color: #222222;
}

.eligible_btn {
  background: rgba(82, 193, 90, 0.27) !important;
  width: fit-content !important;
  box-shadow: none !important;
}

.eligible_btn span {
  font-family: 'Work Sans', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #222222;
  text-transform: capitalize !important;
}

.not_eligible_btn {
  background: rgba(255, 239, 182, 0.27) !important;
  width: fit-content !important;
  margin-right: 10px !important;
  box-shadow: none !important;
}

.not_eligible_btn span {
  font-family: 'Work Sans', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 12px !important;
  color: #222222;
  text-transform: capitalize !important;
}

.apply-btn-grid {
  display: flex !important;
  justify-content: end !important;
}

.apply-btn-text {
  font-family: 'Work Sans', sans-serif !important;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #fff;
  text-transform: capitalize !important;
  width: fit-content !important;
  margin-right: 10px !important;
}
