div#simple-tabpanel-0 {
  width: 100%;
}

.MuiBox-root.MuiBox-root-7 {
  padding: 0;
}

.DayPicker-Month {
  width: 318px;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
}

div#simple-tabpanel-0:focus {
  outline: none !important;
}
