@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');

.breadCrumbText {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 12px !important;
  line-height: 18px !important;
  color: #00218d !important;
  font-weight: 700;
}
